<h1>Weather Forecast</h1>

<div class="row">
  <div class="col-sm-6">
    <%= form_tag(forecasts_path, method: "get") do %>
      <div class="form-group">
        <div class="col-sm-12">
          <p><%= label_tag :zip_code, "Enter Zip Code", class: '' %></p>
        </div>

        <div class="col-sm-6">
          <p><%= text_field_tag :zip_code, '', class: 'form-control', required: true %></p>
        </div>

        <div class="col-sm-12">
          <p><%= submit_tag "Get Forecast", class: 'btn btn-primary' %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <% if @forecast_data %>
      <h5>Current Temperature for <%= @zip_code %> is <%= @forecast_data['temp'] %>°C</h5>

      <% if @from_cache %>
        <p>Forecast data retrieved from cache.</p>
      <% end %>
    <% else %>
      <% if @zip_code %>
        <p class="text-danger"><%= @zip_code %> is invalid</p>
      <% end %>
    <% end %>
  </div>
</div>
